
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');


html, body, h1 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#app {
	background: rgb(10,10,10);
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(10,10,10,.6),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
		url(https://data.whicdn.com/images/335703029/original.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
}

#wrapper {
	 text-align: center;
}

.sub {
	color: rgb(100,220,220);
	letter-spacing: 1em;
}

/* @mixin glitchCopy { 
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
} */

.glitch {
	position: relative;
	color: white;
	font-size: 4em;
  font-weight: 300;
	letter-spacing: .5em;
  text-transform: uppercase;

  text-shadow: 
    0.05em 0 0 rgba(255,0,0,.75),
    -0.025em 0.05em 0 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 0 rgba(0,0,255,.75);

    animation: glitch 2000ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 
      0.05em 0 0 rgba(255,0,0,.75),
    -0.025em 0.05em 0 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 0 rgba(0,0,255,.75);
  }
  14% {
    text-shadow: 
      0.05em 0 0 rgba(255,0,0,.75),
    -0.025em 0.05em 0 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 0 rgba(0,0,255,.75);
  }
  15% {
    text-shadow: 
      0.05em 0 0 rgba(255,0,0,.75),
    -0.025em 0.05em 0 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 0 rgba(0,0,255,.75);
  }
  49% {
    text-shadow: 
      0.05em 0 0 rgba(255,0,0,.75),
    -0.025em 0.05em 0 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 0 rgba(0,0,255,.75);
  }
  99% {
    text-shadow: 
      0.05em 0 0 rgba(255,0,0,.75),
    -0.025em 0.05em 0 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 0 rgba(0,0,255,.75);
  }
  100% {
    text-shadow: 
      0.05em 0 0 rgba(255,0,0,.75),
    -0.025em 0.05em 0 0 rgba(0,255,0,.75),
    0.025em 0.05em 0 0 rgba(0,0,255,.75);
  }
}










/* body {
    margin: 10%;
    margin-top: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
} */